---
permalink: /404.html
---


<!DOCTYPE html>
<html lang="de">
<head>


  <title>404 - Seite nicht gefunden - kijorooo.com</title>

    <!-- styles.css Link -->
    <link rel="stylesheet" href="/style.css">

    <!-- font Link -->
   <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

    <!-- charset -->
    <meta charset="UTF-8">

    <!-- Responsive Shizz -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

</head>
<body>




{% include header.html %}



<section id="area1">

	<div class="wrapper-left">

		<img src="/img/404.png" alt="illustration-eines-traurigen-roboters" title=""404-illustration width="150px">

		<h1>404 - Diese Seite existiert leider nicht!</h1>

		<h2>Lieber zurück zu:</h2>

		<a href="/">
			<h3>Home</h3>
		</a>

		<a href="uebersetzungen">
			<h3>Studentischen Übersetzungen</h3>
		</a>

		<a href="texterstellung">
			<h3>internationalen Texterstellung</h3>
		</a>

		<a href="korrekturen">
			<h3>Korrekturlesen Service</h3>
		</a>

		<a href="https://www.google.de/">
			<h3>zurück zu Google?</h3>
		</a>

	</div>

	<div class="wrapper-right" itemscope itemtype="https://schema.org/WPSideBar">

		{% include sidebar.html %}


	</div>

</section>







{% include footer.html %}

</body>
</html>
