---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="de">
<head>


  <title>Kontaktiere uns für internationale Texte [kijorooo.com]</title>

    <!-- styles.css Link -->
    <link rel="stylesheet" href="/style.css">

    <!-- font Link -->
   <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,700" rel="stylesheet">

    <!-- charset -->
    <meta charset="UTF-8">

    <!-- Responsive Shizz -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">


</head>
<body>




{% include header.html %}

<section id="area1">

	<div class="wrapper-left">

		<h1>Unser Kontaktformular</h1>

		<p>Schreiben Sie uns eine Nachricht oder rufen Sie uns an. Wir melden uns umgehend bei Ihnen zurück.
      Alle Anfragen sind selbstverständlich unverbindlich
      und alle Daten werden verschlüsselt per SSL zu uns gesendet.</p>

    <a href="tel:555-555-5555"><h2>Tel: 0176 458 39398</h2></a>

    <a href="mailto:lukasz.adms@gmail.com" target="_top"><h2>lukasz.adms@gmail.com</h2></a>


    <p>Falls Sie keine Möglichkeiten haben uns anzurufen, können Sie uns auch gerne eine
    WhatsApp Nachricht schicken.</p>


	</div>








	<div class="wrapper-right" itemscope itemtype="https://schema.org/WPSideBar">

			<h4>English über Arabisch bis Japanisch.</h4>

		<img src="/img/viele-sprachen.png" width="250px">

		<h4>Warum wir?</h4>

		<ul class="liste">
			<li>Günstige & Faire Preise.</li>
			<li>Hochwertige Texte inkl. Qualitätskontrolle.</li>
			<li>Muttersprachler aus der ganzen Welt.</li>
			<li>Schnell & ohne lange Wartezeit.</li>
		</ul>

		<h4>Telefonischer Kontakt</h4>

		<a id="telefon" title="Rufen Sie an für Übersetzungen & Text" href="tel:123456789">0176 458 39398</a>



    <img title="foto-übersetzer" id="port" src="/img/foto-von-texter.jpg" alt="foto-eines-studentischen-übersetzers">

		<h4 class="maa">Riccardo (Texter)</h4>

		<img title="foto-texterin" id="port" src="/img/foto-studentischer-uebersetzerin.jpg" alt="foto-einer-studentischen-uebersetzerin">

		<h4 class="maa">Yuko (Texterin)</h4>

		<img title="foto-übersetzerin" id="port" src="/img/foto-studentische-korrekturleserin.jpg" alt="foto-einer-studentischen-leserin">

		<h4 class="maa">Yasmine (Übersetzerin)</h4>





	</div>




</section>





{% include footer.html %}



</body>
</html>
