---
---

body, html
	margin: 0
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	font-family: 'Dosis', sans-serif
	background-color: #ffffff
	background-image: url(/background.svg)
	background-position: 100% 50%
	background-size: 2000px
	background-repeat: no-repeat
	background-attachment: fixed

@media only screen and (max-width: 500px)
	body, html
		background-position: left
		background-size: 2000px
		background-repeat: repeat

	
a
	text-decoration: none

#websites
	.wrapper
		padding: 2em 0em 2em 0em
		text-align: center

.title
	display: inline-block
	padding: 0.5em 1em 0.5em 1em
	color: #5d6671
	font-size: 2em
	margin-top: 0em

#home
	display: inline-block
	padding: 1em
	color: #ff6256
	font-weight: 800

.list
	a 
		margin: 2em auto
		

.list
	display: flex
	flex-wrap: wrap
	width: 921px
	margin: 2em auto
	margin-top: 0px
	max-width: 90%
	.item
		position: relative
		background-color: white
		padding: 2em
		border-radius: 10px
		box-shadow: 0 10px 25px -10px rgba(72, 29, 99, .3)
		width: 200px
		height: 150px
		max-width: 90%
		transition: all .4s ease-in
		&:hover
			transform: translate(0px, -3px)
			cursor: pointer
		h3
			color: #5d6671
			font-size: 1.5em
			margin-bottom: .5em
			margin-top: 0em
			border-bottom: 1px solid #eaeaea
			padding-bottom: .4em
		p
			color: #6f6e6e
			margin-top: 0em
			line-height: 1.4em
			font-weight: 800
			

.kreis
	background-color: #8ed8a6
	border-radius: 50%
	width: 25px
	height: 25px
	position: absolute
	top: -15px
	left: 0
	right: 0
	margin-left: auto
	margin-right: auto
	border: 2px solid white

.kreis.red
	background-color: #e27677



footer
	text-align: center
	padding: 2em
	a
		list-style: none
		display: inline-block
		li
			display: inline-block
			padding: 1em
			color: #95a6c1
			font-weight: 800
	
.blank
	width: 650px
	max-width: 90%
	margin: 3em auto
	line-height: 1.7em
	color: #5f5f5f
	font-weight: 800