---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="de">
<head>

  <title>Über Uns - studentische Übersetzungen von kijorooo.com</title>

  <meta name="google-site-verification" content="oCnmZQVAqXhJYlaPkpDcodaN0v4OYhIvNIOuTpHJopE" />

    <!-- styles.css Link -->
     <link rel="stylesheet" href="/style.css">

    <!-- font Link -->
   <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

    <!-- charset -->
    <meta charset="UTF-8">

    <!-- Responsive Shizz -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">


</head>
<body>




{% include header.html %}

<section id="area1">

	<div class="wrapper-left">

		<img title="stundenten-zusammen" src="/img/studenten-auf-der-wiese.jpeg" alt="studenten-auf-der-wiese">

		<h2>Über Kijorooo.com</h2>
		<p>Ich merkte während meines Studiums, wie sehr ich es genieße eine neue Sprache zu lernen. Als Kind dachte ich immer das sei die schwierigste Sache auf der Welt. Sobald ich jemanden fließend Spanisch sprechen hörte, dachte ich mir nur, sowas könnte ich nie. Durch die Universität wurde ich dann zufällig auf die Software von Rosetta Stone aufmerksam. Anfangs war ich mir immer noch skeptisch und dachte mir ich würde das nicht hinkriegen, nach ein, zwei Monaten aber merkte ich, wie sich in meinem Kopf die erstem Muster auf spanisch bildeten. Ich war verblüfft, dabei habe ich nie länger als 30 Minuten täglich gelernt.</p>

		<p>Das beste war, ich wurde nicht nur in Spanisch besser sondern auch in allen anderen Fächern. Die Auswirkungen die eine neue Sprache zu lernen auf das Gehirn hat, waren mir bis dahin nie bewusst. Ich recherchierte und fand heraus, dass es noch viel mehr Vorteile gibt. Es verbessert die Multi-Tasking Fähigkeiten, schärft die Sinne und verringert die Wahrscheinlichkeit im Alter an Alzheimer zu erkranken immens. Sprachen lernen wirkt auf den Körper wie eine Art Tablette, nur eben ohne Nebenwirkungen.
		<br><br>
		Ich lernte also weiter und verbesserte mich von Monat zu Monat. Irgendwann merkte ich, um besser zu werden führt kein Weg mehr am Training mit einem Native Speaker vorbei. So entschloß ich mich zu verreisen und auf verschiedenen Sprachtreffen teilzunehmen.</p>



		<p>Erst mit diesen Sprachtreffen, wurde mir bewusst wie weit mich Sprachen lernen im Leben gebracht hat. Obwohl ich bis jetzt nur Spanisch gelernt hab und damit noch lange nicht fertig war. Ich lernte Menschen aus allen Teilen der Welt kennen, was mit meinen alten Sprachbarrieren nie Möglich gewesen wäre.
		<br><br>
		Diese Leute kamen aus verschiedenen Bereichen der Wirtschaft, der Technik, der Medizin oder der Linguistik. Vielleicht ist das der beste Beweis, dass das Gehirn besser Muster erkennt, wenn man anfängt eine Sprachen zu lernen. Jedenfalls realisierte ich in dem Moment, dass wir uns alle gegenseitig enorm helfen können, sobald jemand etwas mit dem Land eines anderen zu tun hat. So war es dann auch, als ich Hilfe mit einem Text auf Spanisch brauchte oder eine Bewerbung in England oder den USA abschicken musste, hatte ich schnell professionelle Hilfe zur Hand und das, durch Menschen direkt aus der Branche. Nicht nur dass Sie einfach nur aus der Branche kamen, sie gehörten dort sogar zu der Elite.
		<br><br>
		So entstand neben viele Freundschaften, ein großes Netzwerk und damit auch das Team von Pinkman Translations. Heute übersetzen wir eine Vielzahl von Dingen professionell und günstig zu studentischen Preisen, ohne die Qualität darunter leiden zu lassen. Unser Service rund um Sprachen erfolgt immer auf höchstem Niveau und durch unser großes Netzwerk, können wir Ihnen unseren Service besonders günstig anbieten. Die Preise für eine einfache Übersetzung fangen z. B. bei 40 € für 500 Wörter an.
		<br><br>
		Lukasz Adam
		</p>

	</div>

	<div class="wrapper-right" itemscope itemtype="https://schema.org/WPSideBar">

		{% include sidebar.html %}

	</div>

</section>







{% include footer.html %}


</body>
</html>
