---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="de">
<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-85993724-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-85993724-5');
</script>

  <title>Studentische Übersetzungen - kijorooo.com</title>

    <!-- styles.css Link -->
    <link rel="stylesheet" href="/style.css">

    <!-- font Link -->
   <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"> 
    
    <!-- charset -->
    <meta charset="UTF-8">

    <!-- Responsive Shizz -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">


</head>
<body>


<section id="homepage-hero">
	<div class="homepage-wrapper">

	<img id="herobild" src="/img/herobild.png" alt="hero" width="300px">

		<a href="/"><img id="logo" src="/img/logo.svg" alt="logo"></a>


	</div>
</section>

{% include header.html %}

<section id="area1">

	<div class="wrapper-left">

		<h1>studentische Übersetzungen</h1>
		<p>Ihr sucht jemanden, der eure Texte günstig und schnell übersetzt? Studentische Übersetzungen sind genau dafür bekannt und genau diesen
		Service wollen wir auch euch bieten.
		Ohne Qualitätsverlust übersetzen wir für euch einen 500-Wörter 
		langen Text, schnell und unkompliziert zu einem günstigen Preis 
		von 40 €.</p>


		<p>Unsere internationalen Studenten kommen aus den verschiedensten 
		Branchen und wenn es ums Übersetzen geht, gehören Sie zu den Besten. 
		Sie sind motiviert, verfügen über langjährige Erfahrung und
		Branchenspezifischen Texte oder Fremdwörter stellen für sie kein Problem dar.
		Bilingual aufgewachsen, sind unsere Übersetzer mit zwei Muttersprachen groß geworden.
		Sie arbeiten und leben in den jeweiligen Ländern und kennen neben Land und Leute
		auch die Mentalität der Menschen. Die perfekten Eigenschaften also für 
		jemanden der sich an Ihren Text setzen soll.</p>
	
		<br>

		<img src="/img/studenten.jpeg" alt="foto" width="600px">

		<h2>Was gehört zu einem guten Übersetzer?</h2>
		<p>Meistens gehört das Reisen zu den absoluten Hobbies unserer Übersetzer. Ob national oder international, Reisen hilft dabei Dinge zu verstehen und den Horizont zu erweitern. Ein guter Übersetzer muss in jeder Situation die passenden Worte finden, denn nicht in jeder Branche wird die gleiche Sprache gesprochen. Ein Text über eine Wohnmobil-Tour durch die USA lässt sich ganz anders übersetzen, als ein Text über ein brisantes politisches Thema. Auch der Slang spielt eine große Rolle, Texte welche die Jugend ansprechen sollen, dürfen bei der Übersetzung nicht zu ernst klingen und Texte für eine konservative Partei, sollten etwas konventioneller formuliert werden. Daneben muss man auch auf sprachliche Unterschiede je nach Region achten.</p>


		<h2>Synonyme verschiedener Branchen</h2>
		<p>Ein weiterer Vorteil eines studentischen Übersetzungsdienstes ist die Vielzahl von Fachbereichen mit denen wir zusammenarbeiten. 
		Unsere Übersetzer verfügen über das nötige Fachwissen was man braucht um Fachbegriffe aus Bereichen wir der Medizin, 
		der Finanzdienstleistung, des Ingenieurswesen oder der Touristik richtig übersetzen zu können. Sie brauchen also keine Angst zu haben,
		dass wir Ihren Text nicht verstehen werden.</p>

		<h2>studentische Übersetzungen in über 20 Sprachen</h2>
		<p>Unter anderem üebrsetzen wir folgenden Sprachen: Spanisch, Englisch, Deutsch, Französisch, Schwedisch, Japanisch, Russisch, Indonesich, Hebräisch, Italienisch, Korenaisch, Polnisch, Norwegisch, Arabisch, Griechisch, Vietnamesich, Türkisch und Chinesisch.</p>

		<h2>Beispiele unserer Übersetzungen</h2>

		<ul class="liste">
			<li>Webseiten oder Apps</li>
			<li>Artikel</li>
			<li>Gebrauchsanweisungen</li>
			<li>E-Mails oder geschäftliche Briefe</li>
			<li>Business Plan oder Präsentation</li>
			<li>Hotelbeschreibungen</li>
			<li>Artikelbeschreibungen</li>
			<li>Broschüren</li>
			<li>Bewerbungsunterlagen</li>
		</ul>


	</div>

	<div class="wrapper-right">
		
		<img src="/img/icon-uebersetzung.png" width="150px">

		<h2>Warum wir?</h2>

		<ul class="liste">
			<li>Günstig.</li>
			<li>Hochwertig.</li>
			<li>Studenten aus der ganzen Welt.</li>
			<li>Schnell.</li>
		</ul>




		<img id="port" src="/img/foto-von-texter.png" alt="">

		<h3>Riccardo (Texter)</h3>


	</div>

</section>







{% include footer.html %}

</body>
</html>
