<nav id="bigmenu">



		<ul>
			<a href="/"><li class="active">Home</li></a>
			<a href="uebersetzungen.html"><li>Übersetzungen</li></a>
			<a href="texterstellung.html"><li>Texterstellung</li></a>
			<a href="korrekturen.html"><li>Korrekturlesen</li></a>
			<a href="kontakt.html"><li>Kontakt</li></a>
		</ul>

<h3 id="menu2" onclick="myFunction()">zurück</h3>
		
</nav>  




<nav id="lmenu">

<h3 id="menu" onclick="myFunction()">Menu</h3>
		
		<img src="img/logo.png" alt="logo">


		<ul>
			<a href="/"><li class="active">Home</li></a>
			<a href="uebersetzungen.html"><li>Übersetzungen</li></a>
			<a href="texterstellung.html"><li>Texterstellung</li></a>
			<a href="korrekturen.html"><li>Korrekturlesen</li></a>
			<a href="kontakt.html"><li>Kontakt</li></a>
		</ul>
</nav>